@charset "UTF-8";

body {
	background-color: gray;
}

/* stylelint-disable selector-list-comma-newline-after */
main.container {
	background-color: gray;
}

.blog-header {
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif
		/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
	font-size: 2.25rem;
}

.blog-header-logo:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif
		/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
	font-size: 2.5rem;
}

@media ( min-width : 768px) {
	.display-4 {
		font-size: 3rem;
	}
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: .875rem;
}

.card-img-right {
	height: 100%;
	border-radius: 0 3px 3px 0;
}

.flex-auto {
	flex: 0 0 auto;
}

.h-250 {
	height: 250px;
}

@media ( min-width : 768px) {
	.h-md-250 {
		height: 250px;
	}
}

/* Pagination */
.blog-pagination {
	margin-bottom: 4rem;
}

.blog-pagination>.btn {
	border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
	margin-bottom: 4rem;
}

.blog-post-title {
	margin-bottom: .25rem;
	font-size: 2.5rem;
}

.blog-post-meta {
	margin-bottom: 1.25rem;
	color: #727272;
}

/*
 * Footer
 */
.blog-footer {
	padding: 2.5rem 0;
	color: #727272;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
	margin-bottom: 0;
}

.p-4 {
	text-align: center;
}

.h-md-250 {
	height: 200px;
	width: 200px;
}

.mb-1 {
	font-size: 12px;
}

.row.mb-2 {
	background-color: gray;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row.mb-2 label:hover {
	color: red;
}

.row.mb-2 .mb-1 {
	color: white;
}

.row.mb-2 input {
	width:200px;
}

.row.mb-2 select {
	width:200px;
}

.row .col-md-6 {
	width: 300px;
    display: grid;
	justify-content: center;
	align-items: center;
}

.row .col-md-6 p {
	font-size: 18px;
}

h1 {
	background-color: gray;
	color: white;
	text-align: center;
	padding-bottom: 30px;
}

.getBalanceButton {
	background-color: gray;
	border: 1px solid white;
	color: white;
	width: 100px;
}

.mb-1.marginStyle {
	padding-bottom: 10px;
}

.mb-1.marginStyle button:hover {
	color: black;
}

.row a {
	text-decoration: none;
}


input[type="radio"]:checked + label {
	color: red;
}

input[type="checkbox"]:checked + label {
	color: red;
}

.col-md-6 input {
	background-color: gray;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.col-md-6 input:hover {
	background-color: white;
    color: gray;
    border: 1px solid gray;
    border-radius: 10px;
}

.row input.styleman {
	margin-bottom: 30px;
    width: 200px;
    text-align: center;
}

.row input.styleman.moreStyle {
	margin:0;
}

form button {
	border-radius:10px;
}

form button:hover {
	background-color: white;
    color: gray;
    border: 1px solid gray;
}

form {
	margin-bottom : 130px;
}

.row.mb-2 a {
	color : white;
}

.row.mb-2 a.hoverStyle:hover {
	cursor: pointer;
	background-color: white;
    color: gray;
}
